@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

:root{
    --main-color: #20bf7d;
    --second-color: #ff5400;
    --background-color: #031327;
    --text-color: #7e8eaa;

}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    background: url(./img/bg.png) no-repeat center;
    color: #fff;
    height: 100%;
    font-size: 1.6rem;
}

.preloader{
    background: #000 url(./img/circle-loader-gif-2.gif) no-repeat center center;
    background-size: 10%;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100000;
}

.col-main{
    width: 80vw;
    margin: 0 auto;
}

.heading{
    letter-spacing: .5rem;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3.2rem;
}

.heading span{
    color: var(--main-color);
    font-size: 4rem;
}

.btn{
    margin-bottom: 2rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    background-color: var(--background-color);
    color: var(--main-color);
}

.btn:hover{
    color: #fff;
    background-color: rgba(111, 234, 246,0.5);
}

/* Popup screen cookies */
.popup-screen{
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(.5rem);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transition: .5s ease;
}

.popup-screen.active{
    visibility: visible;
}

.close-btn{
    position: absolute;
    font-size: 2.5rem;
    top: 0;
    right: 0;
    margin: 1.5rem;
    cursor: pointer;
    opacity: 0.5;
}

.close-btn:hover{
    opacity: 1;
    color: var(--background-color);
}

.popup-box{
    text-align: center;
    color: #000;
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 .5rem 2.5rem var(--main-color);
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(1rem);
    max-width: 45rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 4rem;
    transform: scale(0);
    transition: .5rem ease;
}

.popup-screen.active .popup-box{
    transform: scale(1);
}

.popup-box h2{
    text-transform: uppercase;
}

.popup-box p{
    color: #333;
    margin: 2rem 0;
}

.popup-box .btn{
    margin: 0;
}


/* Header */
.container-header{
    background-color: var(--background-color);
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

header{
    padding: 2rem 0;
    width: 80vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo .heading{
    margin-bottom: 0;
}

.header-logo a img{
    width: 5rem;
    height: 5rem;
    margin-right: .5rem;
}

header nav a{
    text-transform: uppercase;
    color: #fff;
    margin: 0 3rem;
    transition: .5s;
}

header nav a:hover{
    border-bottom: .1rem solid var(--main-color);
    color: var(--main-color);
}

header .login-sign a{
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
}

header .login-sign a:hover{
    color: var(--main-color);
}



/* Movie Seat */

.container-seat{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.movie-container{
    margin: 2rem 0;
}

.movie-container select{
    background-color: #fff;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    margin-left: 1rem;
    padding: .5rem 1.5rem .5rem 1.5rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.container{
    perspective: 100rem;
    margin-bottom: 3rem;
}

.seat{
    background-color: #444451;
    height: 2.5rem;
    width: 2.7rem;
    margin: .3rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.seat.selected{
    background-color: var(--main-color);
}

.seat.occupied{
    background-color: #fff;
}

.row .seat:nth-child(2){
    margin-right: 1.8rem;
}
.row .seat:nth-child(7){
    margin-left: 1.8rem;
}

.row .seat:not(.occupied):hover{
    cursor: pointer;
    transform: scale(1.2);
}

.row{
    display: flex;
}

.showcase{
    background-color: rgba(0, 0, 0, 0.1);
    padding: .5rem 1rem;
    border-radius: .5rem;
    color: #777;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.showcase li{
    display: flex;
    align-items: center;
    justify-items: center;
    margin: 0 1rem;
}

.showcase li small{
    margin-left: .3rem;
}

.screen{
    background-color: #fff;
    height: 14rem;
    width: 100%;
    margin: 1.5rem 0;
    transform: rotateX(-45deg);
    box-shadow: 0 .3rem 1rem rgba(255, 255, 255, 0.7);
}

p.text{
    margin: .6rem 0;
}

p.text span{
    color: var(--main-color);
}


/* Container Slider */
.container-slider{
    padding: 5rem 0;
}

.container-slider .content{
    text-align: center;
    font-size: 3rem;
    color: var(--main-color);
}

.container-slider .content span{
    text-transform: uppercase;
    display: block;
}


.container-slider .main-slider .swiper-slide{
    overflow: hidden;
    border-radius: 1.5rem;
    height: 60rem;
    width: 45rem;
}

.container-slider .main-slider .swiper-slide img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container-slider .main-slider .swiper-slide img:hover{
    transform: scale(1.1);
}

.container-slider .main-slider .swiper-slide .title{
    position: absolute;
    top: -10rem;
    left: 0;
    right: 0;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    font-size: 2rem;
}

.container-slider .main-slider .swiper-slide:hover .title{
    top: 0;
}

.container-slider .main-slider .swiper-slide .title-bottom{
    position: absolute;
    bottom: -10rem;
    left: 0;
    right: 0;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    font-size: 2rem;
}

.container-slider .main-slider .swiper-slide .title-bottom:hover{
    color: var(--main-color);
    cursor: pointer;
}

.container-slider .main-slider .swiper-slide:hover .title-bottom{
    bottom: 0;
}

.swiper-pagination{
    position: relative;
    margin-top: 2rem;
}

.swiper-pagination-bullet-active{
    background-color: var(--main-color);
}

/* Weather forecast */
.main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.container-weather{
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(.5rem);
    z-index: 1;
}
.search-icon {
    margin-right: 5px;
    position: absolute;
    left: -3rem;
}

.search-bar {
    width: 50%;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
}

.container-weather .main-section .search-bar input{
    padding: 3px 3px 3px 20px;
    background: transparent;
    height: 20px;
    color: #fff;
    text-align: center; 
}

.container-weather .main-section .search-bar input::placeholder{
    color: #888;
}

.container-weather .main-section .info-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    font-size: 1.5rem;
}

.container-weather .main-section .info-wrapper .right-info .temperature{
    font-size: 4rem;
    color: var(--main-color);
    font-weight: 600;
}

/* Login signup */
.login-sign{
    position: relative;
}

.login-sign .tag-user{
    position: relative;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: rgba(111,234,246, 0.6);
    border-radius: 5rem;
}

.login-sign .tag-user span{
    margin: 0 1rem;
    padding: 0 .5rem;
}

.login-sign .login-form{
    position: absolute;
    top: 3rem;
    left: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #214a88;
    padding: 2rem;
    z-index: 100;
    border-radius: 2rem;
}

.login-sign .login-form.active{
    display: flex;
}

.login-sign .login-form input{
    width: 20rem;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 3rem;
}

.login-sign .login-form input:hover{
    border-left: 1rem solid var(--main-color);
    border-right: 1rem solid var(--main-color);
}

.login-sign .login-form .btn{
    color: #333;
    font-size: 1.4rem;
    text-align: center;
    margin: 0;
    background-color: rgba(111, 234, 246);
    border-radius: 3rem;
    padding: .5rem .8rem; 
    width: 20rem; 
    margin-top: .5rem;
    cursor: pointer;
}

.login-sign .login-form .btn:hover{
    color: var(--main-color);
    background-color: var(--background-color);
}

.login-sign .avatar-user{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.login-sign #nav-user{
    padding-right: 1rem;
    cursor: pointer;
}

.option-user{
    width: 17rem;
    margin-top: .3rem;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #4494A4;
    display: none;
}

.option-user.active{
    display: block;
}

.option-user p{
    font-size: 1.4rem;
    padding: .3rem .7rem;
    cursor: pointer;
}

.option-user p:hover{
    background-color: #20b9d8;
}

.control-user{
    display: none;
}

.control-user.active{
    display: block;
}

.login-user{
    display: none;
}

.login-user.active{
    display: block;
}

/* Book Movie */
.booking{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
}

.content-container h3{
    font-size: 2.6rem;
    border-bottom: .2rem solid var(--main-color);
}

.content-container .main-content{
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.booking-main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.text-content{
    max-width: 35rem;
}

.text-content h3{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    border-bottom: .1rem solid var(--text-color);
}

.editor-content h4{
    padding: .5rem 0;
}

.editor-content h4 span{
    color: var(--text-color);
    font-size: 1.5rem;
}

.content-container .main-content img{
    width: 30rem;
    height: 40rem;
    overflow: hidden;
}


/* Toggle Theme color */
.theme-toggler{
    position: fixed;
    top: 10rem;
    left: -20rem;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(.5rem);
    z-index: 2;
    width: 20rem;
    text-align: center;
}
.theme-toggler.active{
    left: 0;
}

.theme-toggler .toggle-btn{
    position: absolute;
    top: 0;
    right: -6rem;
    padding: 1rem 1.5rem;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(.5rem);
}

.theme-toggler .toggle-btn i{
    color: var(--main-color);
    cursor: pointer;
    font-size: 3rem;
    animation: spin 4s linear infinite;
}
@keyframes spin{
    0%{
        transform: rotate(360deg);
    }
}

.theme-toggler .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

.theme-toggler .buttons .theme-btn{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    cursor: pointer;
}

/* Bill - Payments */
.pay{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-color);
    padding: 5rem 0;
}

.pay .main-pay{
    display: flex;
    justify-content: center;
    gap: 10rem;
}

.pay .main-pay .payments h4{
    font-size: 2rem;
    border-bottom: .1rem solid var(--main-color);
}

.pay .main-pay .payments div{
    margin: 1rem 0;
}

.pay .main-pay .payments div:hover{
    color: var(--main-color);
}

.pay .main-pay .payments .checkbox{
    border-top: .1rem solid var(--main-color);
    padding: 1rem 0;
}

.main-pay .pay-bill{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.main-pay .pay-bill h3{
    text-align: center;
    border-bottom: .1rem solid var(--main-color);
}

.main-pay .pay-bill p{
    margin: 1rem 0;
}

.main-pay .pay-bill .pay-total{
    font-size: 1.7rem;
    border: .1rem dotted var(--main-color);
    padding: 1rem;
}

.clock{
    background-color: #2c65c7;
    padding: 2rem;
}

.clock h4{
    text-align: center;
    font-size: 2rem;
    padding: 1.5rem;
    background-color: #555;
    color: var(--main-color);
}

.pay-btn{
    font-size: 1.6rem;
    color: #fff;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    background-color: #2c65c7;
    cursor: pointer;
}


.main-pay .pay-bill .countdown-clock{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.main-pay .pay-bill .countdown-clock p{
    margin: 0;
}

.main-pay .pay-bill .countdown-clock div{
    background-color: #333;
    padding: 1rem;
}
